* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:focus {outline:none;} 
html,body {
  height: 100%;
}
body {
  background-color: lightgrey;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

marquee{
    background-color: red;
  width:250px;
}
.entire {
  display: none;
  flex-direction:column;
  margin-top:10px;

}

h4 button{
  background-color: white;
    font-size:20px;
   margin-bottom: 10px;
}
input:focus
{
  color:blue;
}

.entire input {
  width: 250px;
  height: 60px;
  margin-bottom: 10px;
  background: white;
  border-radius:10px;
  border: 2px solid hotpink;
  font-size: 20px;
  padding: 0px 12px 0px 12px;
}
.buttons {
  width: 250px;
  height: 250px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 10px;
  grid-column-gap: 5px;
  
}
.buttons button {
  padding: 2px;
  margin-left: 0px;
  border: 2px solid hotpink;
  border-radius:7.5px;
  cursor: pointer;
  background-color:white;
  color: blue;
  font-size: 20px;
  transition: all ease 0.4s;
}
.buttons button:hover {
  background-color: rgba(0, 0,0,0.03);
  background-color:darkgrey;
  border-color: green;
}
